# dependencias
node_modules/

# next.js
.next/
out/
next-env.d.ts

# qa
.qa/

# entorno
.env
.env.*
!.env.example

# sistema
.DS_Store
*.pem

# logs
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
